/*reset*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Georgia;
    src: url(fonts/georgia.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    height: 100%;
}

:root {
    --verde-principal: rgb(18, 164, 163);
    
}

.container {
    padding-left: 5vw;
    padding-right: 5vw;
}

/*Header*/

#myHeader {
    position: absolute;
    width: 100%;
    padding: 2rem 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
    color: white; 
     
}

.button-header {

    background-color: white;
    color: var(--verde-principal);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 10px;

    
}

.button-header:hover {

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.171);
    transform: scale(1.1);
    transition: 0.5s;
}

.sticky {

    
    background-color: var(--verde-principal);
    opacity: 0.9;
    transform: rotateY(1);
    top: 0;
    box-shadow: 1px 10px 8px rgba(0, 0, 0, 0.089);
    border-radius: 0px 0px 20px 20px;
    transition: .5s;
    height: 20%;

}

.sticky > .button-header {
    font-size: 1.3rem;
    transition: .5s;
}

.sticky > .logo {
    transform: scale(0.8);
    transition: height .5s;
}




/*MAIN COVER*/



#cover {   
    background-image: url(img/Prancheta\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    color: white;
    
}

#cover > h1 {
    margin-top: 12rem;
    max-width: 70%;
    font-size: 2rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

#cover > p {
    font-family: 'Georgia';
    font-size: 1.5vw;
    text-align: center;
    
}

#cover > iframe {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    width: 880px;
    height: 500px;
    
}




.button-cover {

    background-color: white;
    color: var(--verde-principal);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    min-width: 500px;
    padding: 1% 12%;
    border-radius: 10px;
    margin-bottom: 2rem;
    animation: button-animate 1.5s linear infinite;
    text-align: center;
    
}


/*MAIN ABOUT*/

#about {
    color: black;
    display: flex;
    align-items: center;
}

#about-text {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    margin-bottom: 3rem;
    
}

#about-text h2{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    margin-bottom: 3rem;
    color: var(--verde-principal);
    font-weight: 100;
    
}

#about-text p {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: rgb(71, 71, 71);
}

#about-image {
    border-radius: 0px 50px 00px 50px;
    padding: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.226);   
    
}

/*PROFESSIONAL*/

#professionals {

    background-image: linear-gradient(100deg, var(--verde-principal)20%, rgb(29, 206, 206)80%);
    color: white;
    padding: 3rem;
    text-align: center;

}

#professionals h2{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 2rem;

}

#cards {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}

.card {

    margin: 2rem;
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.233);

}

.card:hover {

    transform: scale(1.2);

}

/*FAQ*/

#questions {
    background-color: rgb(71, 71, 71);
    color: white;
    text-align: center;
    padding: 3rem;
    position: relative;
}

#questions h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    
}

#menuFaq {
    margin: 4rem auto;
    font-family: 'Montserrat';
    max-width: 60%;
    color: white;
} 

#menuFaq summary {
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    font-size: 2rem;
    background-color: white;
    border-radius: 20px;
    color: rgb(71, 71, 71);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ;
    
}

summary::after {
    content: "+";
    font-size: 2.5rem;

}

details[open] summary::after {
    content: "-";
    font-size: 2.5rem;
}

#menuFaq p {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: justify;
}

#questions img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60%;

}


/*TESTMONIALS*/

#testmonials {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    color: var(--verde-principal);
    text-align: center;
    padding: 3rem;    
}

#testmonials h2 {
    font-size: 3rem;
}


/*CTA*/

#cta {
    background-image: url(img/Prancheta\ 3.jpg);
    background-size: cover;
    padding: 3rem;
    text-align: right;
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 3rem;
}

#cta h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    max-width: 50%;
}

#cta p {
    max-width: 60%;
    font-family: 'Montserrat';
    font-size: 1.5rem;
}




/*animations*/

[data-anime] {
    opacity: 0;
    transition: 2s;
}

[data-anime='down'] {
    transform: translate3d(0px, -50px, 0px);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

@keyframes button-animate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
