/*reset*/

@font-face {
    font-family: Georgia;
    src: url(fonts/georgiai.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    
}

body {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

:root {
    --verde-principal: rgb(18, 164, 163);
    
}

.container {
    padding-left: 5vw;
    padding-right: 5vw;
}

/*Header*/
#header {
    width: 100vw;
    padding: 2rem;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.button-header {

    background-color: white;
    color: var(--verde-principal);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    
}

.button-header:hover {

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.171);
    transform: scale(1.1);
    transition: 0.5s;
}



/*MAIN COVER*/



#cover {
    width: 100vw;
    
    background-image: url(img/Prancheta\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    
}

#cover > h1 {
    margin-top: 12rem;
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

#cover > p {
    font-family: 'Georgia';
    font-size: 1.5vw;
    text-align: center;
    
}


#video {
    position: relative;
    width: 40vw;
    height: 20vw;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.button-cover {

    background-color: white;
    color: var(--verde-principal);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    
}

.button-cover:hover {

    transform: scale(1.1);
    transition: 0.5s;
    
}

