/*reset*/

@font-face {
    font-family: Georgia;
    src: url(fonts/georgia.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    height: 100%;
}

:root {
    --verde-principal: rgb(18, 164, 163);
    
}

.container {
    padding-left: 5vw;
    padding-right: 5vw;
}

/*Header*/

#myHeader {
    position: absolute;
    width: 100%;
    padding: 2rem 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;  
     
}

.button-header {

    background-color: white;
    color: var(--verde-principal);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 10px;

    
}

.button-header:hover {

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.171);
    transform: scale(1.1);
    transition: 0.5s;
}

.sticky {

    
    background-color: var(--verde-principal);
    opacity: 0.9;
    transform: rotateY(1);
    top: 0;
    box-shadow: 1px 10px 8px rgba(0, 0, 0, 0.089);
    border-radius: 0px 0px 20px 20px;
    transition: .5s;
    height: 20%;

}

.sticky > .button-header {
    font-size: 1.3rem;
    transition: .5s;
}

.sticky > .logo {
    transform: scale(0.8);
    transition: height .5s;
}




/*MAIN COVER*/



#cover {   
    background-image: url(img/Prancheta\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    
}

#cover > h1 {
    margin-top: 12rem;
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

#cover > p {
    font-family: 'Georgia';
    font-size: 1.5vw;
    text-align: center;
    
}

#cover > iframe {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
}




.button-cover {

    background-color: white;
    color: var(--verde-principal);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    min-width: 500px;
    padding: 1% 12%;
    border-radius: 10px;
    margin-bottom: 2rem;
    animation: button-animate 1.5s linear infinite;
    text-align: center;
    
}


#price {
    height: 100vw;
}

@keyframes button-animate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@media (max-width:480px){
    .button-header {
        display: none;
    }

    #myHeader {
        justify-content: center;
        height: 20vw; 
        padding: 4rem;
    }    

    #cover {
       row-gap: 2rem;
    }
    #cover h1{
        margin-top: px;
        font-size: 8vw;
        text-align: center;
    }

    #cover p {
        font-size: 4vw;
    }
    iframe {
        
        height: 30%;
        width: 100%;
    
    }

    .button-cover {
        font-size: 5vw;
        padding-top:8vw;
        padding-bottom: 8vw;
        min-width: 0;
    }
}
