#about {
    
    display: flex;
    align-items: center;
    background-image: linear-gradient(100deg, rgb(5, 5, 5) 20%, rgb(22, 20, 34)80%);
    box-shadow: none;
    padding: 2vw;
}

#about-text {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    margin-bottom: 3rem;
    
    
}

#about-text h2{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    margin-bottom: 3rem;
    color: white;
    font-weight: 100;
    
}

#about-text p {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: white;
}

#about-image {
    border-radius: 0px 50px 0px 50px;
    padding: 1rem;
    border: 2px solid white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.226);  
    margin-right: 2vw; 
    
}

@media(min-width:320px) and (max-width:480px){

    #about {
        padding: 1rem;
        display: grid;
        text-align: center;
    }

    #about-text {
        padding: 0;
    }

    #about h2 {
        font-size: 2rem;
    }

    #about p {
        font-size: 0.8rem;
    }

    #about-image {
        display: none;
    }
    
}

@media(min-width:481px) and (max-width:768px){

    
    #about {
        padding: 1rem;
        display: grid;
        text-align: center;
    }

    #about-text {
        padding: 0;
    }

    #about h2 {
        font-size: 2.5rem;
    }

    #about p {
        font-size: 1.1rem;
    }

    #about-image {
        display: none;
    }
    
}

@media(min-width:769px) and (max-width:1024px){

    #about {
        padding: 1rem;
    }

    #about h2 {
        font-size: 2rem;
    }

    #about p {
        font-size: 1.1rem;
    }

    #about-image {
        height: 300px;
        padding: 0.5rem;
    }
}

@media(min-width:1025px) and (max-width:1200px){

    #about {
        padding: 1rem;
    }

    #about h2 {
        font-size: 2.5rem;
    }

    #about p {
        font-size: 1.3rem;
    }

    #about-image {
        height: 300px;
        padding: 0.5rem;
    }
}