
/*MAIN COVER*/



#cover {   
    background-image: url(https://lh3.googleusercontent.com/pw/AL9nZEXU84tyrOwthkEF1-aFGSeqOS5e8w8tQU9k8ZiWn6CmNY5SEG257m6EmgnrAPmf8FH-NkGoJUKDz_aV1wrQ99RpMBvst6_Y0S329u62h9sSthOKwsaKZt1ITjU3gsgiVN6fbRbv_2avp6bWfWN0bXw=w1709-h961-no?authuser=0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    color: white;
    height: 100vh;
    position: relative;
    text-align: center;
}

#cover > h1 {
    width: 70vw;
    font-size: 5vw;
    text-align: left;
    font-family: Montserrat;
    font-weight: 400;
    justify-self: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#cover >h1 > strong {
    color: gold;
}

#cover > p {
    font-family: 'Georgia';
    font-size: 1.5vw;
    text-align: center;
    
}

.button-cover {

    position: absolute;
    background-color: white;
    color: var(--verde-secundario);
    font-family: 'roboto';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
    min-width: 500px;
    max-width: 50vw;
    padding: 1% 12%;
    animation: button-animate 1.5s linear infinite;
    text-align: center;
    border-radius: 10px;
    bottom: 5%;
    
}

@media(min-width:320px) and (max-width:480px){

    

    #cover {
        row-gap: 1.5rem;
        background-image: url(../img/Prancheta1-mobile@0\,75x.jpg);
    }

    #cover h1 {
        font-size: 1rem;
        max-width: 90%;
    }

    iframe {
        height: 169px;
        width: 300px;
    }

    .button-cover {
        font-size: 1rem;
        min-width: 0px;
        padding: 0.7rem;
    }
    
}

@media(min-width:481px) and (max-width:768px){

    #cover {
        background-image: url(../img/Prancheta1-mobile@0\,75x.jpg);
        row-gap: 1.5rem;
    }

    #cover h1 {
        font-size: 1.3rem;
        max-width: 90%;
    }

    iframe {
        height: 253px;
        width: 450px;
    }

    .button-cover {
        font-size: 1rem;
        min-width: 420px;
        padding: 0.7rem;
    }
    
}

@media(min-width:769px) and (max-width:1024px){

    #cover {
        background-image: url(../img/Prancheta1-mobile@0\,75x.jpg);
        row-gap: 2rem;
    }

    #cover h1 {
        font-size: 1.5rem;
        max-width: 90%;
    }

    iframe {
        height: 405px;
        width: 720px;
    }

    .button-cover {
        font-size: 1.5rem;
        min-width: 600px;
        padding: 1rem;
    }
    
}

@media(min-width:1025px) and (max-width:1200px){

    #cover {
        
        row-gap: 2rem;
    }

    #cover h1 {
        font-size: 2rem;
        max-width: 90%;
    }


    .button-cover {
        font-size: 2rem;
        min-width: 600px;
        padding: 1rem;
    }
    
}
