#cta {
    background-image: url(https://lh3.googleusercontent.com/I4Mwbiod4CuZvoS3ILVaUzfyn-ugBr4W6ynpnOTHqVZ4nJKfYdhVViwgkFHPj_KfusWOeS4vyOorakbB--whngWh6jy_O6tGZ8AfZhwxU9GZP3_Dqkvg1mbleS3JFkl55ijvqbxO91AkTCUj-kt4nLjrU0Pcb7mxE-I1eqleW05ykL7rx3vR1k8Ha-FjNmdwfPDD5g88fLBdMnumucicFclNMYyxXN5Zkag8XqrY9lXKnDnOIw67qwaoDKoHK38QZ-nn5oJBWk--bVXf32gkhed8jPWnyHFvD74yn-_x2dwCjkEDWXp00_JWXpeNM9gj_w7JrZnJlnefc6xVIlUOTzMWt9H9SQ45f7Gkmo9tWMxpIpBZhegNGyH2nnIXagn8ZXtOdIrNbbniY8AwPo_CX3TvnFRaWL-25UNAixFNf9oDRy-wHkbdpVIOhLUMpC7MGc6XEUcFiiUhdP92lWPq5wFPZ4xtprfKgpihUtBBkkGOJ_OBmwz3e9i6pPzUdfr8_hy4xpVa0ELkuU-U1FiOrvtzZNmUE0cwTatSMizk6vqZ0oZVlq-DkehATpfxfXdRnbQwQTXrdl0s7NpnZSx5d0eZAGuwIA3jSOZD1-CO5-xFo-r-TraKT-rRjF6GJwwFNxCCtDTU1_Fc29MFkzs4P78gc82unhLYcyzVTBK003KZRb7TCIP2-mHxP6ELLdwdxUETKGfNo8k7WouxjojLWCntSx5Ay79RlHJuAqkvp4lTKKc5gZg0JJRgyFhNCzn0-Bb6ryPjsWwOP8cRHtN2cjJOIUMkTsuuSg_vEzLwIe_GAsF-X6rIHDsepC3WWDgty-NV6dOfQCbQsobFJ5RWRNVyESnN4ufiq2hjccontvbSgVy8ZuHznJpihFZe2F7N_fElXxjusUagosuxXpv6UGSs3E6dFHWDq-4swHIlTVB19PfgAEDXLtMNTAHHFfD6zxKY9M8wCh6bjUsaxuDtvxnUtlugYB86ACpzSb6LLuaAZZf6FFk9ZB_4hEUfrn09B3p-31mLQr8YUS4vhavQcsudZFg=w1709-h961-no?authuser=3);
    background-size: cover;
    background-position: top;
    text-align: right;
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 3rem;
    padding: 3rem;
    position: relative;
}

#cta h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 8vw;
    font-weight: 100;
    font-size: 3rem;
    max-width: 50%;
}

#cta p {
    max-width: 60%;
    font-family: 'Montserrat';
    font-size: 1.5rem;

}

.button-cta {

    background-color: white;
    color: rgb(18, 164, 163);
    font-family: 'roboto';
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 10px; 
    transition: .5s;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.185);  
}

.button-cta:hover {
    transform: scale(1.1);
}


.bg-svg1 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: rgb(255, 255, 255);

}
    

@media(min-width:320px) and (max-width:480px){

    #cta {
        padding: 1.5rem;
    }

    #cta h2 {
        max-width: 90%;
        font-size: 1.5rem;
    }

    #cta p {
        max-width: 85%;
        font-size: 1rem;
    }

    .button-cta {
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
    }
}

@media(min-width:481px) and (max-width:768px){

    #cta {
        padding: 1.5rem;
    }

    #cta h2 {
        max-width: 90%;
        font-size: 2rem;
    }

    #cta p {
        max-width: 85%;
        font-size: 1.2rem;
    }

    .button-cta {
        text-align: center;
        font-size: 1.2rem;
        padding: 1rem;
    }
}
    

@media(min-width:769px) and (max-width:1024px){

    #cta {
        padding: 1.5rem;
    }

    #cta h2 {
        max-width: 90%;
        font-size: 2.5rem;
    }

    #cta p {
        max-width: 85%;
        font-size: 1.3rem;
    }

    .button-cta {
        text-align: center;
        font-size: 1.3rem;
        padding: 1rem;
    }
    
}



@media(min-width:1025px) and (max-width:1200px){
    #cta {
        padding: 1.5rem;
    }

    #cta h2 {
        max-width: 80%;
        font-size: 3rem;
    }

    #cta p {
        max-width: 75%;
        font-size: 1.5rem;
    }

    .button-cta {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
}