#video {
    background-image: linear-gradient(120deg, rgb(18, 164, 163) 20%, rgb(52, 155, 155) 60%);
    width: 100vw;
    display: flex;
    justify-content: center;
    
}

.video {
    padding: 1rem 0rem;
}
.video iframe {
    border-radius: 20px;
}