/*Header*/

#myHeader {
    position: absolute;
    width: 100%;
    padding: 2rem 7vw;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 100; 
    color: white;
}



.sticky {
    
    background-color: rgba(0, 0, 0, 0.137);
    transform: rotateY(1);
    top: 0;
    box-shadow: 1px 10px 8px rgba(0, 0, 0, 0.089);
    border-radius: 0px 0px 20px 20px;
    transition: .5s;
    height: 20%;
    justify-content: center;
}


.sticky > .button-header {
    font-size: 1.3rem;
    transition: .5s;
}



@media(min-width:320px) and (max-width:480px){

    #myHeader {
    justify-content: center;
        align-items: center;
    }

    .button-header {
        display: none;
        
    }
    .sticky > .logo {
        transform: scale(0.6);
    }
    .sticky {

        height: 15%;
    }
    
}

@media(min-width:481px) and (max-width:768px){

    #myHeader {
    justify-content: center;
        align-items: center;
    }

    .button-header {
        display: none;
        
    }
    .sticky > .logo {
        transform: scale(0.8);
    }
    .sticky {

        height: 15%;
    }
    
}