/*Header*/

#myHeader {
    position: absolute;
    width: 100%;
    padding: 2rem 7vw;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 100; 
    color: white;
}


@media(min-width:320px) and (max-width:480px){

    #myHeader {
    justify-content: center;
    align-items: center;
    }

}

@media(min-width:481px) and (max-width:768px){

    #myHeader {
    justify-content: center;
    align-items: center;
    }

}