#price {
    padding: 3rem;
    background-image: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(https://lh3.googleusercontent.com/pw/AL9nZEUcJI6qD6hndhE3mR8ZFaJNp8BRVQWlPZBctgxDuhIyZYRezlt5S7S7wCFo4pn4rivaFMxTEzZjDJZXFqdeojngpQjmXdneNDFltnRqnJuTrGNep8M4VQuhucnD82GVGJHf0WAunq63mF3KKo912hE=w1920-h715-no?authuser=0);
    background-size: cover;
    background-position: left;
    text-align: right;

}

#price h2 {
    color: white;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    padding: 1rem;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.315);


}

#price > p{
    color: white;
    font-size: 2rem;
    font-family: montserrat;
    max-width: 1000px;
    padding: 1rem;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.315);

    

}


.price-text {
    text-align: center;
    margin: 2rem 5rem;

}

.price-text h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.315);
}

.price-text p {
    font-family: montserrat;
    font-size: 1.5rem;
    color: white;
    padding: 1.5rem;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.315);
}



.price-value {


    color: rgb(255, 255, 255);
    border: 10px solid rgb(255, 255, 255);
    border-radius: 50px;
    text-align: center;
    padding: 3rem;
    margin-bottom: 2rem;
    max-width: 800px;
    
}

.price-value h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 3vw;
    align-self: flex-start;
}



.price-value p {

    font-family: 'Impact';
    font-size: 3vw;

}

.price-value p strong {
    color: rgb(255, 255, 255);
    font-size: 9vw;
    font-weight: 100;
    justify-self: center;

}

.price-value span{

    font-family: 'Montserrat';
    text-decoration: line-through;
    font-size: 2vw;
    align-self: flex-end;
    color: rgb(71, 71,71);    
    
}



#price .price-img1{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotatey(180deg);

}

@media(min-width:320px) and (max-width:480px){

    #price {
        padding: 1.5rem;   
        text-align: left; 
        align-items: center;    
    }

    #price h2 {
        font-size: 1.8rem;
    }
    #price p {
        font-size: 1rem;
    }

    .price-img1 {
        display: none;
    }

    .price-value {

        padding: 2rem;
        border: 5px solid;
        
    }
    
    .price-value h3 {

        font-size: 1.3rem;
        
    }
    
    
    
    .price-value p {

        font-size: 1.2rem;
        margin-top: 1rem;
        
       
    }
    
    .price-value p strong {

        font-size: 2rem;
        margin: 0.3rem;
    }
    
    .price-value span{
    
        color: rgb(71, 71,71);
        font-size: 1rem;
    }

    #price .button-cta {
        min-width: 80vw;
        font-size: 1rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    #price{
        background-image: linear-gradient(90deg, rgb(18, 164, 163), rgb(18, 164, 163));
    }

    
}


@media(min-width:481px) and (max-width:768px){

    #price {
        padding: 1.5rem;
        text-align: left;
        align-items: center;
    }

    #price h2 {
        font-size: 2rem;
    }
    #price p {
        font-size: 1.2rem;
        
    }


    .price-img1 {
        display: none;
    }

    .price-value {

        padding: 2rem 4rem;
        border: 6px solid;
        
    }
    
    .price-value h3 {

        font-size: 2rem;
        
    }
    
    
    
    .price-value p {

        font-size: 1.5rem;
        margin-top: 1rem;
        
       
    }
    
    .price-value p strong {

        font-size: 3rem;
        margin: 0.3rem;
    }
    
    .price-value span{
    
        
        font-size: 1.2rem;

    }
    #price .button-cta {
        min-width: 80vw;
        max-width: 300px;
        font-size: 1rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    #price{
        background-image: linear-gradient(90deg, rgb(18, 164, 163), rgb(18, 164, 163));
    }
}

@media(min-width:769px) and (max-width:1024px){

    #price {
        padding: 1.5rem;
    }

    #price h2 {
        font-size: 2rem;
    }
    #price p {
        font-size: 1.5rem;
        max-width: 500px;
    }



    .price-value {
        justify-self: flex-end;
        padding: 2rem 4rem;
        border: 10px solid;        
     }

     #questions .button-cta {

        font-size: 1.5rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

}

@media(min-width:1025px) and (max-width:1200px){

    #price h2 {
        font-size: 2rem;
    }
    #price p {
        font-size: 2rem;
        max-width: 700px;
    }


    
}