#price {
    padding: 3rem;
    background-image: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://lh3.googleusercontent.com/pw/AL9nZEUcJI6qD6hndhE3mR8ZFaJNp8BRVQWlPZBctgxDuhIyZYRezlt5S7S7wCFo4pn4rivaFMxTEzZjDJZXFqdeojngpQjmXdneNDFltnRqnJuTrGNep8M4VQuhucnD82GVGJHf0WAunq63mF3KKo912hE=w1920-h715-no?authuser=0);
    background-size: cover;
    background-position: left;

}


.price-text {
    text-align: center;
    margin: 2rem 5rem;

}

.price-text h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    color: white;
}

.price-text p {
    font-family: montserrat;
    font-size: 1.5rem;
    color: white;
    padding: 1.5rem;
}



.price-value {


    color: rgb(255, 255, 255);
    border: 10px solid rgb(255, 255, 255);
    border-radius: 50px;
    text-align: center;
    padding: 3rem;
    margin-bottom: 2rem;
    max-width: 800px;
    
}

.price-value h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 3vw;
    align-self: flex-start;
}



.price-value p {

    font-family: 'Impact';
    font-size: 3vw;

}

.price-value p strong {
    color: rgb(255, 255, 255);
    font-size: 9vw;
    font-weight: 100;
    justify-self: center;

}

.price-value span{

    font-family: 'Montserrat';
    text-decoration: line-through;
    font-size: 2vw;
    align-self: flex-end;
    color: rgb(71, 71,71);    
    
}



#price .price-img1{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotatey(180deg);

}

@media(min-width:320px) and (max-width:480px){

    #price {
        padding: 1.5rem;
        background-image: url(https://lh3.googleusercontent.com/jjm8RY8uDos7oHwPVMR8sdotn9fJVlAsK_Dnr4vi-hr3iU5TKNZx-zJXAZppaknxRI4Y0JR-qJiDkpz3O9CWdNlUsWuKg_uU3AoqRMveBfzWu9a5jtlq-t7S5OONmlaY3Yq1gVU28j_yD7HEz9AAxiCNVWufIgSO426DvRFKc0nsUZJHJjrup0TOqLJq_XHxCyRvU2SK1YDTKiYS8fU5Mffds0gGmWjnmyt7FVohsU5p_0OZG_SAAH8UcITvmgku7IdP7beIbe7uGXMYUhUTz6qXNLWSgsZrzHSjM8PJKALQOsgT7DJNK5DGrmGnvXEvBDsyIAJs8fOzB5l7W1OEOnt9sbg056nbQ7S8RV4DCsoBe9PJFL9Kgv2LxfR5Uj0nm-PRXoqgmEXiQWBNCpHdNV-2UDag7NjOVcXdg7sioTcCPqAckFEowOPb3YUdXwe2JnLNSEMstxMA-E8h30tWK-zZFsbz0vuR3up01kdjq36ebhZpeP9HOTNxBgdbtjD7_zvHD53P-_tQ_SThSaMF9JTyS29AxdKMVj67NMbLUhiuxWjiqibSH2ialPE6CHKPLeEx0oMgKdCzpLizNrcX_ZMzYQbS4ZZorv3oQ7VkjtCmdy8JrgWjzN2RtX3B04uSs85IcKp-tL2lN2XGN7qJnqnWSlR_LaTmh9N_VV9Oeq8pJjTqXZ9kOseFQQ325IGhB4poJO08WxSTMzZigzWn2HhxPuAPpHf4PcSCiTLQZHENCpAlkUBXpv2kNK16y56OV5aUHRqPOWcSt9W5Nz__3MCLneugRO7Qu-knDA6wTxV34U_UhAB58LDwl4kZe6QBhsajDlN49ItlwIzbZaSFn9O6mbIpvYu_OVb_8hW3RoYPJuWv6gBek_pLTtd8Prp3Qnj0WPxejHgnQKE1AOQXhExQY4I3jSj5KpWbR8_mJJFALo84UbpBM1Bi_lLR62X1eJ6O6KDwgbgAUMwLkI5Gx6KR2NAUvACUCXmSFDCpdYoLH1daS3Txame0wZEHUC_SSYVegu_nMCMOZXqzLx6F1XQneLg=w479-h179-no?authuser=3);
    }

    .price-img1 {
        display: none;
    }

    .price-value {

        padding: 2rem;
        border: 5px solid;
        
    }
    
    .price-value h3 {

        font-size: 1.3rem;
        
    }
    
    
    
    .price-value p {

        font-size: 1.2rem;
        margin-top: 1rem;
        
       
    }
    
    .price-value p strong {

        font-size: 2rem;
        margin: 0.3rem;
    }
    
    .price-value span{
    
        color: rgb(71, 71,71);
        font-size: 1rem;
    }

    #price .button-cta {
        min-width: 80vw;
        font-size: 1rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }


    
}

@media(min-width:481px) and (max-width:768px){

    #price {
        padding: 1.5rem;
    }

    .price-img1 {
        display: none;
    }

    .price-value {

        padding: 2rem 4rem;
        border: 6px solid;
        
    }
    
    .price-value h3 {

        font-size: 2rem;
        
    }
    
    
    
    .price-value p {

        font-size: 1.5rem;
        margin-top: 1rem;
        
       
    }
    
    .price-value p strong {

        font-size: 3rem;
        margin: 0.3rem;
    }
    
    .price-value span{
    
        
        font-size: 1.2rem;

    }
    #price .button-cta {
        min-width: 80vw;
        font-size: 1rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
}

@media(min-width:769px) and (max-width:1024px){

    #price {
        padding: 1.5rem;
    }


    .price-value {
        justify-self: flex-end;
        padding: 2rem 4rem;
        border: 10px solid;        
     }

     #price .button-cta {
        min-width: 80vw;
        font-size: 1rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    

}

@media(min-width:1025px) and (max-width:1200px){

    
}