#video {
    background-image: url(https://lh3.googleusercontent.com/pw/AL9nZEVvFJXDi71OAykyFfzH1EU9isqk83Ts4BBV8V9eEdYaXntgu7N2KLOpqQh0Zl59tsbeW4VQs7c9NUqlK1Wvx-X8izcOSg9i-1IMqpD_ux4Pv4EuOQuimBL2ZGox6z5Crsbf8sZXFQabdC0ikDnHkNkh=w1709-h961-no?authuser=0);
    background-size: cover;
    background-position: bottom;
    flex-direction: column;
    align-items: left;    
    padding: 3rem;  
    text-align: left;
    display: flex;
  
    
}


#video h2 {
    color: rgb(18, 164, 163);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    text-align: justify;
    margin-bottom: 1.5rem;
}

#video p {
    color: rgb(18, 164, 163);
    font-family: montserrat;
    font-size: 1.5rem;
    text-align: justify;
    max-width: 50vw;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.329);
}

.video {
    margin: auto;
}

.video iframe {
    border-radius: 20px;
    margin: auto;
}

#video a {
    align-self: center;
}

@media(min-width:320px) and (max-width:480px){

    #video {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #video h2 {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 1rem;
    }

    #video p {
        justify-self: center;
        font-size: 1rem;
        text-align: center;
        max-width: 100vw;
    }

    #video iframe {
        width: 250px;
        height: 188px;
        margin: 0;
        padding: 0;
    }

    #video .button-cta {
        min-width: 80vw;
        font-size: 1rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    
}


@media(min-width:481px) and (max-width:768px){

    
    #video {
        margin: 0;
        padding: 0;
    }

    #video h2 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    #video p {
        font-size: 1rem;
        max-width: 60vw;
    }

    #video iframe {
        width: 400px;
        height: 300px;
        margin: 0;
        padding: 0;
    }

    #video .button-cta {
        min-width: 80vw;
        font-size: 1rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    
}


@media(min-width:769px) and (max-width:1024px){

    #video {
        margin: 0;
        padding: 0;
  
    }

    #video h2 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    #video p {
        font-size: 1.3rem;
        max-width: 60vw;
        
    }

    #video iframe {
        width: 400px;
        height: 300px;
        margin: 0;
        padding: 0;
    }

    #video .button-cta {
        min-width: 80vw;
        font-size: 1rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    
}


@media(min-width:1025px) and (max-width:1200px){


    #video {
        margin: 0;
        padding: 0;
  
    }

    #video h2 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    #video p {
        font-size: 1.3rem;
        max-width: 60vw;
        
    }

    #video iframe {
        width: 600px;
        height: 450px;
        margin: 0;
        padding: 0;
    }

    #video .button-cta {
        min-width: 80vw;
        font-size: 1rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    
}



